@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../base/mixins";
@import "../bootstrap/scss/mixins";


// Base
.footer {
	padding: px-to-rem( 60px, 0 );
	
	@include media-breakpoint-up(md) {
		padding: px-to-rem( 100px, 0 );
	}
	
	@include media-breakpoint-up(lg) {
		padding: px-to-rem( 140px, 0 );
	}
	
	@include media-breakpoint-up(xl) {
		padding: px-to-rem( 200px, 0 );
	}

	.row + .row {
		margin-top: 50px;
		
		@include media-breakpoint-up(md) {
			margin-top: 90px;
		}

		@include media-breakpoint-up(xl) {
			margin-top: 144px;
		}
	}

	* + p.rights {
		margin-top: 40px;
		
		@include media-breakpoint-up(md) {
			margin-top: 65px;
		}
		
		@include media-breakpoint-up(xl) {
			margin-top: 95px;
		}
	}
}
