extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	- pageName = 'Buttons';

block page
	+rd-navbar
	='\n'
	
	include ../components/section/_button-styles-sample
	include ../components/section/_button-sizes-sample
	include ../components/section/_button-shapes-sample
	include ../components/section/_button-block-sample
	include ../components/section/_button-group-sample
	include ../components/section/_button-with-icon-sample
	
	include ../components/footer/_footer
