@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";


// Base
.link-image {
	display: inline-block;
	overflow: hidden;

	img {
		transition: $transition-base;
	}

	&:hover {
		img {
			transform: scale(1.05) rotate(1deg);
			opacity: .95;
		}
	}
}
